body {
  background-color: #556fa8;
  color: white;
  margin-top: 60px;
  padding: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

input {
  margin: 10px;
}

button {
  margin-top: 8px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 60px;
  text-shadow: 2px 2px black;
}

p {
  margin: 0;
}

#board {
  margin-top: 30px;
}

#players {
  display: "inline-block";
  align-items: center;
  margin: auto;
  /* align-content: center; */
}

#game {
  display: flex;
  margin: auto;
  /* align-content: center; */
  /* flex-wrap: wrap; */
  /* align-content: center; */
}
