body {
  background-color: #556fa8;
  color: white;
  margin-top: 60px;
  padding: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  align-items: center;
}

input {
  margin: 10px;
}

button {
  margin-top: 8px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 60px;
  text-shadow: 2px 2px black;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 30px;
  text-shadow: 2px 2px black;
  margin: 20px;
}

h3 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 20px;
  margin: 0px;
}
h4 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 15px;
  margin: 0px;
}

p {
  margin: 0;
}

#board {
  margin-top: 30px;
}

#players {
  display: "inline-block";
  align-items: center;
  margin: auto;
}

#game {
  display: flex;
  margin: auto;
}

#result {
  padding: 90px;
  margin: 200px;
  background-color: rgb(8, 8, 70);
  border-radius: 40px;
  text-align: center;
}
