body {
  background-color: #556fa8;
  color: white;
  margin-top: 0px;
  padding: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  align-items: center;
}

input {
  margin: 10px;
}

button {
  margin-top: 16px;
  padding: 10px 24px;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  transition-duration: 0.4s;
}

button:hover:enabled {
  background-color: rgba(28, 82, 199, 0.521);
  color: white;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 60px;
  margin: 16px;
  text-shadow: 2px 2px black;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 30px;
  text-shadow: 2px 2px black;
  margin: 0px;
}

h3 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 20px;
  margin: 0px;
}
h4 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 15px;
  margin: 0px;
}

p {
  margin: 0;
}

#board {
  margin-top: 16px;
}

#players {
  display: "inline-block";
  align-items: center;
  justify-content: space-around;
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 8px;
}

#game {
  display: flex;
  /* margin: auto; */
}

#result {
  padding: 90px;
  margin: 200px;
  background-color: rgb(8, 8, 70);
  border-radius: 40px;
  text-align: center;
}
